<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/public/css/e-commerce.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <header>
            <div class="container-list">
                <div class="menu">
                    <i class="fas fa-th">Menu</i>
                </div>
                <p class="text">Samson Mall<span>.</span></p>
                <div class="list">
                    <a href="/home">Home</a>
                    <a href="/">FAQS</a>
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                </div>
                <div class="contact-buy">
                    <p class="con">Contact</p>
                    <p class="buy">Buy online</p>
                </div>
            </div>
        </header>

        </div>
        <div class="text-ama">
            <p class="Amazing">Amazing furniture for your home</p>
            <span> We think the chair is the most important piece of furniture in your home.
                Because if you love the chair you are sitting in chances are you will love the rest of the room.</span>
        </div>
        <div class="search-input">
            <input type="text" placeholder="search your product">
            <i class="fas fa-search"></i>
        </div>
        <div class="myImg">
            <img src="/public/images/image.png">
        </div>
        <div class="about">
            <div>
                <p class="us">About Us</p>

                <span>Comfort is key and how you feel about your chair will
                    affect how you feel amd your mood
                </span>
            </div>

        </div>
        <main>
            <div class="about-us">
                <div class="ecommerce-about">
                    <div class="div1">
                        <h2>1</h2>
                        <p class="div1-text">Mission</p>
                        <p class="div1-text2">
                            It make's people at ease and feel like they want to open up
                        </p>
                    </div>
                    <div class="div1">
                        <h2>2</h2>
                        <p class="div1-text">Motivation</p>
                        <p class="div1-text2">
                            The perfect mix of art that complements the room's style.
                        </p>
                    </div>
                    <div class="div1">
                        <h2>3</h2>
                        <p class="div1-text">Goal</p>
                        <p class="div1-text2">
                            The perfect mix of art that complements the room's style.
                        </p>
                    </div>
                    <div class="div1">
                        <h2>4</h2>
                        <p class="div1-text">Mission</p>
                        <p class="div1-text2">
                            Art that has meaning to the people who live in the space,
                        </p>
                    </div>
                </div>



                <div class="img-container">

                    <div class="item1">
                        <img src="/public/images/Rectangle 11.png">
                    </div>
                    <div class="item2">
                        <img src="/public/images/Rectangle 9.png">
                    </div>
                    <div class="item3">
                        <img src="/public/images/Rectangle 10.png">
                    </div>
                    <div class="item4">
                        <img src="/public/images/Rectangle 7.png">
                    </div>

                   
                </div>
            </div>
            <div class="product-items">
                <p>Products</p>
                <div class="product-list">
                    <li><span>All</span></li>
                    <li>Chair</li>
                    <li>Table</li>
                    <li>Bed</li>
                    <li>Closet</li>
                    <li>Sofa</li>
                    <li>Cabinet</li>
                </div>
                <div class="items">
                    <div class="items-list">
                        <img src="/public/images/item.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item2.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item3.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item4.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item5.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item6.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item8.png">
                    </div>
                    <div class="items-list">
                        <img src="/public/images/item7.png">
                    </div>
                </div>
            </div>
            <div class="customer">
                <p>What do customers says...</p>
                <div class="customers-thought">
                    <img src="/public/images/Image2.png">
                 
                    
                    <div class="thought">
                        <i class="fas fa-quote-left"></i>
                        <p class="service">Amazing service</p>  
                        <span class="since">Since the online marketplace can be a scary place, the presence of customer reviews on an online store helps establish authenticity, confidence, and trust among shoppers. </span>
                        <p class="wade"> Wade Warren</p>
                        <span class="doc">Doctor</span>
                        <div class="arrow">
                            <i  class="fas fa-backward"></i>
                            <i class="fas fa-forward"></i>
                        </div>
                        
                    </div>

                </div>
            </div>
          <div class="product-items2">
            <div class="items2">
                <div class="item-1">
                    <img src="/public/images/Rectangle 5.png">
                </div>
                <div class="item-2">
                    <img src="/public/images/Rectangle 6.png">
                </div>
                <div class="item-3">
                    <img src="/public/images/Rectangle 8.png">
                </div>
                <div class="item-4">
                    <img src="/public/images/Rectangle 12.png">
                </div>
            </div>
            <div class="contact">
                <h5>Contact Us</h5>
                <p>Our team would love to hear from you!</p>
                <div class="contact-form">
                    <div class="input">
                        <input type="text" name="" id="" placeholder="First name">
                        <input type="text" name="" id="" placeholder="Last name">
                    </div>
                    <div>
                        <input type="text" name="" id="" placeholder="Email">
                    </div>
                    <div>
                        <textarea placeholder="Message" id="" cols="60%" rows="8"></textarea>
                    </div>
                    <div>
                       <button>Send Message</button>
                    </div>
                </div>
            </div>
          </div>
          
        </main>
        <footer>
            <div class="footer-list">
                <div class="list1">
                    <li class="li">Samson Mall<span>.</span></li>
                    <div class="linker">
                        <li><a href="">Kaduna</a></li>
                        <li><a href="">Lagos</a></li>
                        <li><a href="">Abuja</a></li>
                    </div>
                   
                </div>
                <div class="list2">
                    <li class="li">Quick Links</li>
                    <div class="linker">
                        <li ><a href="">Register</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Buy Online</a></li>
                    </div>
                </div>
                <div class="list3">
                    <li class="li">Policy</li>
                    <div class="linker">
                        <li><a href="">Term & Condition</a></li>
                        <li><a href="">Privacy and Policy</a></li>
                        <li><a href="">FAQS</a></li>
                    </div>
                </div>
                <div class="list4">
                    <li class="li">Social</li>
                    <div class="linker">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Whatsapp</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Linkedin</a></li>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
